@import "tailwindcss";

:root {
  --background: #06060a;
  --foreground: #f0f0f0;
  --barca-blue: #004d98;
  --barca-red: #a50044;
  --barca-gold: #edbb00;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-barca-blue: var(--barca-blue);
  --color-barca-red: var(--barca-red);
  --color-barca-gold: var(--barca-gold);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}
